body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.alerta{ 
  max-width: 500px;
  border-radius: 5px;
  font-weight: 400;
  background-color:#6eccaf ;
  color: #223142;
  padding: 10px;
}
.bg {
  background-image: url('./images/rickymorty.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
  background-attachment: fixed;
  overflow-y: scroll;
}
